h3 {
    border: 2px solid lightgray;
    width: 200px;
    height: 100px;
    margin: auto;

    padding-top: 20px;
    vertical-align: middle;

    border-radius: 8%;

    /* justify-self: center; */
    /* vertical-align: middle; */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-self: center; */
}