.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  position: sticky;
  height: 80px;
  float: right;
}

/* DRGN logo */
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #aaaaaa;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #aaaaaa;
  height: 100%;
  float: right;
}

.nav-item {
  display: flex;
  text-decoration: none;
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-out;
}